@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap');

*{
  color: #828282;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
.soc-icon{
  display: none;
}
h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(12deg,#EC4770, #0086F2,#7CEE84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(18, 18, 18);
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}


/* header */
.logo{
  color: #fff;
}
.logo-text{
  font-family: 'Righteous', cursive;
}
.links{
  text-align: right;
}
.links a{
  color: #828282;
  text-decoration: none;
}
.links a:hover{
  color: #fff;

}




/* content */

.content{
  text-align: center;
}
.main-title{
  color: #fff;
  font-size: 6rem;
  font-family: 'Righteous', cursive;
}

.sub-title{
  margin: 20px auto;
}
.input{
  width: 30%;
  position: relative;
  margin:20px auto;
}
.input-field{
  color: #fff;
  border:none;
  background-color:rgba(255, 255, 255, 0.08) ;
  padding: 0.75rem 0.375rem;
  border-radius: 5px;
  width: 100%;

}


.input-field::placeholder{
  padding: 10px;
  font-size: .8rem;
  color: #4b4b4b;
}
.notify-btn{
  color: #7a7a7a;
  border:none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.notify-btn:hover{
  color:#fff ;
}
.notify{
  font-size: .9rem;
}
/* footer */

.footer{
  display: flex;
  align-items: end;
  justify-content: center;
}
.policy{
  font-size: 1rem;
  text-align: center;
}

/* large */
@media (width <1200px){
  .notify-btn{
    margin: 10px auto;
    position: static;
  }
  .input{
    width: 40%;
    margin: 10px auto;
  }
  .input-field::placeholder{
    text-align: center;
  }

}


/* medium */
@media (width <992px){
  .notify-btn{
    font-size: .7rem;
  }
  .input{
    margin: 10px auto;
  }
  .policy{
    font-size: .6rem;
  }
  
}
/* small */
@media (width <768px){
  .soc-icon{
    margin: 10px 10px;
    display: inline;
  }
  .soc-text{
    display: none;
  }
 
  .logo-text{
    font-size: 1rem;
  }
  .main-title{
    font-size: 3rem;
  }
  .sub-title{
    font-size: .75rem;
  }
  .input{ 
    width: 300px;
    margin: 0px auto;

  }
  .notify{
    font-size:.7rem;
  }
  .policy{
    font-size: .5rem;
  }
}
/* extra small */
@media (width <576px){
  .sub-title{
    font-size: .6rem;
  }
  .logo{
    width: 50%;
  }
  .links{
    width: 50%;
  }
}

